<% layout("/templets/boilerplate") -%>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            <h1 class="mb-3">Create a New Listing </h1>
            <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name ="listing[title]" placeholder="Title" type="text" class="form-control" required>
                        <div class="valid-feedback">
                            Looking Good
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class = "invalid-feedback">
                            Description should be valideted
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input name="listing[image]" class="form-control" type="file" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" class="form-control" type="text" required>
                            <div class="invalid-feedback">
                                Price should be valideted
                            </div>
                        </div>
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                            <div class="invalid-feedback">
                                Country should be valideted
                            </div>
                        </div>
                        
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" placeholder="Kavane,Kolhapur" class="form-control" type="text" required>
                        <div class="invalid-feedback">
                            Location should be valideted
                        </div>
                    </div>

                    <div class="dropdown mb-3">
                        <label for="category" class="form-label">Select Category</label>
                        <select name="listing[category]" required>
                            <option value="amazing pool">Amazing pool</option>
                            <option value="farm">Farm</option>
                            <option value="trending">Trending</option>
                            <option value="arctic">Arctic</option>
                            <option value="design">Design</option>
                            <option value="countryside">Countryside</option>
                            <option value="beach">Beach</option>
                            <option value="play">Play</option>
                            <option value="lake">Lake</option>
                            <option value="historical place">Historical places</option>
                            <option value="camping">Camping</option>

                        </select>
                    </div>

                    <button class="btn btn-dark btn-add">Add</button>
            </form>
        </div>
    </div>
    <br><br>
