<% layout("/templets/boilerplate") -%>

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <%for(Listing of allListings){%>
        <%if(Listing.title.toLowerCase() == search.toLowerCase()){%>
            <a href="/listings/<%=Listing._id%>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%=Listing.image.url%>" class="card-img-top" style="height: 20rem;" alt="Listing image">
                    <div class="card-img-overlay">&hearts; Book Now</div>
                    <div class="card-body">
                    <p class="card-text">
                        <b><%=Listing.title%></b><br>
                        &#8377;<%=Listing.price.toLocaleString("en-IN")%> /nigth
                    </p>
                    </div>
                </div>
            </a>
        <%}%>
    <%}%>
</div>