
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
/* boilerplate */
.container{
    flex: 1;
}

/* Navbar */
.navbar{
    background-color: white;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black;
    font-weight: 500;
}

/*Footer*/
.f-info{
    background-color: #ebebeb;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: black;
    width: 100%;
    
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-social{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
}
.f-social i{
    margin-right: 1rem;
    color: black;
    opacity: 0.7;
}
.f-social i:hover{
    opacity: 1;
}

.comp{
    width: 100%;
    text-align: center;
}
/*Listings style*/
.listing-card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new listing */
.btn-add{
    background-color: #fe424d;
}

/* Edit page */
.btn-edit{
    background-color: #fe424d;
    border: none;
}

/* Show page */
.show-img{
    height: 45vh;
}
.listing-h3{
    font-weight: 700;
}
.map{
    margin-left: 10px;
}

/* Maps */
#map { 
    height: 350px;
    width: 100vh;
    margin-bottom: 20px;
}

@media(min-width: 100px) and (max-width:600px){
    .review{
        width: 90%;
    }
    .edit-image{
        width: 90%;
    }
}